name: CMake Build with Ninja

on:
  push:
  # pull_request:
  workflow_dispatch: # 允许手动触发

jobs:
  build:
    runs-on: windows-latest

    steps:
      # 1️⃣ 检出代码
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ 设置 MSVC 编译环境
      - name: Setup MSVC Developer Command Prompt
        uses: TheMrMilchmann/setup-msvc-dev@v4
        with:
          arch: x64

      - name: Install Qt (Windows)
        if: runner.os == 'Windows'
        uses: jurplel/install-qt-action@v4
        with:
          version: "5.12.12"
          target: "desktop"
          install-deps: true
      - name: Install boost
        uses: MarkusJx/install-boost@v2
        id: install-boost
        with:
        # REQUIRED: Specify the required boost version
        # A list of supported versions can be found here:
        # https://github.com/MarkusJx/prebuilt-boost/blob/main/versions-manifest.json
          boost_version: 1.89.0
          # OPTIONAL: Specify a custon install location
          boost_install_dir: ${{ github.workspace }}/boost
          # OPTIONAL: Specify a platform version
          platform_version: 2022
          # OPTIONAL: Specify a toolset
          toolset: msvc


      # 4️⃣ 配置 CMake（使用 Ninja 生成器）
      - name: Configure CMake
        env:
            BOOST_ROOT: ${{ steps.install-boost.outputs.BOOST_ROOT }}
        run: |
          cmake -DCMAKE_PREFIX_PATH="${env:BOOST_ROOT};${env:QT_ROOT_DIR}"   -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release

      # 5️⃣ 构建项目
      - name: Build with Ninja
        run: cmake --build build --config Release --parallel

      # 6️⃣ 上传构建产物
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: build/main.exe
