name: CMake Build with Ninja

on:
  push:
  workflow_dispatch:

jobs:
  setup:
    runs-on: windows-latest
    outputs:
      BOOST_ROOT: ${{ steps.install-boost.outputs.BOOST_ROOT }}
      QT_ROOT_DIR: ${{ steps.install-qt.outputs.QT_ROOT_DIR }}
    steps:
      - uses: actions/checkout@v4

      - name: Install Qt
        id: install-qt
        uses: jurplel/install-qt-action@v4
        with:
          version: "5.12.12"
          target: desktop
          install-deps: true

      - name: Install Boost
        id: install-boost
        uses: MarkusJx/install-boost@v2
        with:
          boost_version: 1.89.0
          boost_install_dir: ${{ github.workspace }}/boost
          platform_version: 2022
          toolset: msvc


  build:
    runs-on: windows-latest
    needs: setup
    steps:
      - uses: actions/checkout@v4

      - name: Configure CMake
        run: >
          cmake -S . -B build -G Ninja
          -DCMAKE_BUILD_TYPE=Release
          -DCMAKE_PREFIX_PATH="${{ needs.setup.outputs.BOOST_ROOT }};${{ needs.setup.outputs.QT_ROOT_DIR }}"

      - name: Build
        run: cmake --build build --parallel

      - uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: build/main.exe
