name: CMake Build with Ninja
env:
  BOOST_ROOT: ${{ github.workspace }}/boost
on:
  push:
  workflow_dispatch:

jobs:
  build_all:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      # =========================
      # 1️⃣ 安装 Qt
      # =========================
      - name: Install Qt
        id: install-qt
        uses: jurplel/install-qt-action@v4
        with:
          version: "5.12.12"
          target: desktop
          arch: "win64_msvc2017_64"
          install-deps: true

      # =========================
      # 2️⃣ 安装 Boost
      # =========================
      - name: Install Boost
        id: install-boost
        uses: MarkusJx/install-boost@v2
        with:
          boost_version: 1.89.0
          boost_install_dir: ${{ env.BOOST_ROOT }}
          platform_version: 2022
          toolset: msvc


      # =========================
      # 3️⃣ 配置 CMake
      # =========================
      - name: Setup MSVC Developer Command Prompt
        uses: TheMrMilchmann/setup-msvc-dev@v4
        with:
          arch: x64

      - name: Configure CMake
        shell: pwsh
        run: |
          cmake -S . -B build -G Ninja `
            -DCMAKE_BUILD_TYPE=Release `
            -DCMAKE_PREFIX_PATH="${env:BOOST_ROOT};$env:QT_ROOT_DIR"

      # =========================
      # 4️⃣ 构建
      # =========================
      - name: Build
        run: cmake --build build --parallel

      # =========================
      # 5️⃣ 上传 artifacts
      # =========================
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: build/main.exe
