name: test_linux_pwsh
on:
  # push:
  workflow_dispatch:

jobs:
  build_all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure CMake
        shell: pwsh
        run: |
          powershell .\version_info.ps1
          cmake -S . -B build -G Ninja `
            -DCMAKE_BUILD_TYPE=Release
          cmake --build build --parallel
